
{{#partial "content"}}

    <div class="container">
        <div class="row">
            <div class="col-md-3 sidenav">
                <li>
                    <ul> <a href="/create/employee">Create Employees</a></ul>
                    <ul><a href="/create/department">Create Departments</a></ul>
                    <ul><a href="/create/generalnews">Create the General news</a></ul>
                    <ul> <a href="/create/departmentnews">Create the Department news</a></ul>
                    <ul><a href="/view/employees">View Employees</a></ul>
                    <ul><a href="/view/departments">View Departments</a></ul>
                    <ul><a href="/view/generalnews">View the General news</a></ul>
                    <ul><a href="/view/departmentnews">View the Department news</a></ul>
                </li>
            </div>
            <div class="col-md-9">
                <div class="intro">
                    <h3>News Portal</h3>
                    <p>View employee, Department and News</p>
                </div>
                <div class="worker"></div>
                <div>
                    <form action="/create/employee/new" method="post">
                        <h3 class="text bgt">you are an employee, register yourself</h3>

                        <div class="form-group">
                            <label for="name">Employee Name</label>
                            <input type="text" class="form-control" id="name" name="name"  required>
                        </div>
                        <div class="form-group">
                            <label for="name">Position</label>
                            <input type="text" class="form-control" id="position" name="position"  required>
                        </div>
                        <div class="form-group">
                            <label for="name">Role</label>
                            <input type="text" class="form-control" id="role" name="role"  required>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="department">Department</label>
                                </div>
                                <select class="custom-select" id="department" name="department">
                                    <option selected>Choose...</option>
                                    {{#if departments}}

                                        {{#each departments as |l|}}
                                            <option name="department" value={{l.id}}>{{l.name}}</option>
                                        {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info "> Register </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>




{{/partial}}

{{> layout.hbs}}