
{{#partial "content"}}
<div class="row">
    <h1></h1>
    <div class="col-md-12 navtitle">
        <h2>Get informed on  what's going on with News Portal</h2>
    </div>

</div>
<div class="rov">
    <div class="col-md-12 navview">
        <nav>
            <a href="">View Employees</a>
            <a href="">View Departments</a>
            <a href="">View the General news</a>
            <a href="">View the Department news</a>
        </nav>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 sidenav">
                <a href="">Create Employees</a>
                <a href="">Create Departments</a>
                <a href="">Create the General news</a>
                <a href="">Create the Department news</a>
                <a href="">View Employees</a>
                <a href="">View Departments</a>
                <a href="">View the General news</a>
                <a href="">View the Department news</a>
            </div>
            <div class="col-md-9">
                <div class="intro">
                    <h3>News Portal</h3>
                    <p>View employee, Department and News</p>
                </div>
                <div class="worker"></div>
                <div class="employees">
                    <h3>Employees</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Employees Returning to Work
                                For employees considering or preparing for a return to the workplace</p>
                        </div>
                        <div class="col-md-6">
                            <a href="view/employees" class="btn btn-primary">More</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="departments">
                    <h3>Department</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Employees Returning to Work
                                For employees considering or preparing for a return to the workplace</p>
                        </div>
                        <div class="col-md-6">
                            <a href="view/departments" class="btn btn-primary">More</a>
                        </div>
                    </div>
                </div>
                <div class="news">
                    <h3>News</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Employees Returning to Work
                                For employees considering or preparing for a return to the workplace</p>
                        </div>
                        <div class="col-md-6">
                            <a href="view/news" class="btn btn-primary">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




{{/partial}}

{{> layout.hbs}}